# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/*

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

*.jar


## File-based project format:
*.iws
*.iml

## Plugin-specific files:

# IntelliJ
target/*

# mpeltonen/sbt-idea plugin
.idea_modules/
